<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>租户注册</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/ico">
    <meta http-equiv="description" content="bluewind-shorturl在线短链生成"/>
    <meta http-equiv="keywords" content="蓝风软件,短链生成,在线短链生成,长链转短链"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/js/bootstrap-validator/css/bootstrapValidator.css}" rel="stylesheet">
    <style th:inline="text">
        .lyear-wrapper {
            position: relative;
            background-image: url("[[@{/}]]images/login-bg.jpg");
            background-size: cover;
        }
        .lyear-login {
            display: flex !important;
            min-height: 100vh;
            align-items: center !important;
            justify-content: center !important;
        }
        .lyear-login:after{
            content: '';
            min-height: inherit;
            font-size: 0;
        }
        .login-center {
            width: 500px;
            background: #fff;
            min-width: 29.25rem;
            padding: 2.14286em 0;
            border-radius: 3px;
            margin: 2.85714em;
        }
        .login-header {
            margin-bottom: 1.5rem !important;
        }
        /* 必填红点 */
        .is-required::before {
            content: "*";
            color: red;
        }
    </style>
</head>

<body>
<div class="row lyear-wrapper">
    <div class="lyear-login">
        <div class="login-center">
            <div class="login-header text-center">
                <h1>创建组织团队账号</h1>
            </div>
            <form id="loginForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label is-required">组织团队账号：</label>
                    <div class="col-md-7">
                        <input type="text" placeholder="请输入英文字母或英文+数字" class="form-control" name="tenant_account" id="tenant_account" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label is-required">组织团队名称：</label>
                    <div class="col-md-7">
                        <input type="text" placeholder="请输入组织团队名称" class="form-control" name="tenant_name" id="tenant_name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label is-required">密码：</label>
                    <div class="col-md-7">
                        <input type="password" placeholder="请输入密码" class="form-control" id="tenant_password" name="tenant_password" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label is-required">确认密码：</label>
                    <div class="col-md-7">
                        <input type="password" placeholder="请输入密码" class="form-control" id="tenant_password2" name="tenant_password2" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label is-required">手机号：</label>
                    <div class="col-md-5">
                        <input type="text" placeholder="请输入手机号" class="form-control" id="tenant_phone" name="tenant_phone" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" type="button" id="sendSms">发送</button>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 control-label is-required">验证码：</label>
                    <div class="col-md-7">
                        <input type="text" name="smsCode" class="form-control" placeholder="请输入验证码">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <button class="btn btn-block btn-primary" type="button" id="submitForm">立即提交</button>
                    </div>
                </div>
            </form>
            <hr>
            <footer class="col-md-12 text-center">
                <p class="m-b-0">Copyright © 2022 <a href="http://lyear.itshubao.com">Bluewind</a>. All right reserved</p>
            </footer>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-validator/js/bootstrapValidator.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>
<script type="text/javascript" th:src="@{/js/coco-message/coco-message.js}"></script>
<script type="text/javascript" th:src="@{/js/public.js}"></script>

<script type="text/javascript" th:inline="javascript">
    AjaxUtil.ctx = /*[[@{/}]]*/'';

    var verifyKey;
    $(document).ready(function () {

        $('#loginForm').bootstrapValidator({
            fields: {
                username: {validators: {notEmpty: {message: '用户账号不能为空'}}},
                password: {validators: {notEmpty: {message: '用户密码不能为空'}}},
                smsCode: {validators: {notEmpty: {message: '验证码不能为空'}}}
            }
        });


        // 发送短信按钮
        $("#sendSms").click(function () {
            var self = $(this);
            // 按钮不可点击态，直接返回
            if (self.hasClass('disabled')) {
                return false;
            }

            var tenant_phone = $("input[name='tenant_phone']").val();
            if (!checkTelphone(tenant_phone)) {
                Message.error("请输入正确的手机号码", 1000);
                return false;
            } else {
                let formdata = {
                    "tenant_phone": tenant_phone,
                }
                AjaxUtil.post({
                    url: AjaxUtil.ctx + "tenant/sendSms",
                    data: formdata,
                    success: function (res) {
                        if (res.code === 200) {
                            Message.success(1000, res.msg, function () {
                                verifyKey = res.data.verifyKey;
                                // 设置按钮为禁用状态，立即变灰
                                self.addClass("disabled");
                                var count = 60;
                                var countdown = setInterval(function () {
                                    self.html(count + "秒");
                                    if (count == 0) {
                                        self.html("发送").removeClass("disabled");
                                        clearInterval(countdown);
                                    }
                                    count--;
                                }, 1000); // 每秒执行一次
                            });
                        } else {
                            Message.error(res.msg, 1000);
                        }
                    },
                    error: function (error) {
                        Message.error(error, 1000);
                    }
                });
            }
        });


        // 立即提交按钮
        $("#submitForm").click(function () {
            var bv = $('#loginForm').data('bootstrapValidator');
            bv.validate();
            if (bv.isValid()) {
                // 不直接走form.submit()，登陆走ajax比较合
                let username = $("input[name='username']").val();
                let password = $("input[name='password']").val();
                let captcha = $("input[name='captcha']").val();

                // Thymeleaf在js中直接获取model中的值
                let secret = '[[${secret}]]';
                let formdata = {
                    "username": username,
                    "password": md5(secret + password),
                    "captcha": captcha,
                    "verifyKey": verifyKey
                }
                // 加载层

                AjaxUtil.post({
                    url: AjaxUtil.ctx + "tenant/doRegister",
                    data: formdata,
                    success: function (res) {
                        if (res.code === 200) {
                            Message.success(1000, res.msg, function () {
                                // 跳转租户首页
                                window.location.href = AjaxUtil.ctx + "tenant/index";
                            });
                        } else {
                            Message.error(res.msg, 1000);
                            getKaptcha();
                        }
                    },
                    error: function (error) {
                        Message.error(error, 1000);
                        getKaptcha();
                    }
                });
            }
        });

    });




    /**
     * 校验电话号码是否正确
     * @param val
     * @returns {boolean}
     */
    function checkTelphone(val) {
        var isPhone = /^([0-9]{3,4}-)?[0-9]{7,8}$/;
        var isMob = /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-7|9])|(?:5[0-3|5-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[1|8|9]))\d{8}$/;
        if (isMob.test(val) || isPhone.test(val)) {
            return true;
        } else {
            return false;
        }
    }

</script>
</body>
</html>