<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>租户首页</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/ico">
    <meta http-equiv="description" content="bluewind-shorturl在线短链生成"/>
    <meta http-equiv="keywords" content="蓝风软件,短链生成,在线短链生成,长链转短链"/>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/js/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
    <link th:href="@{/js/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.css}" rel="stylesheet">
    <!--日期选择插件-->
    <link rel="stylesheet" th:href="@{/js/bootstrap-datepicker/bootstrap-datepicker3.min.css}">
</head>

<body>

<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <!-- 自定义表单开始 -->
                    <form id="formId" role="form" class="form-inline">
                        <div class="form-group">
                            <label class="control-label">短链接：</label>
                            <input type="text" value="" name="surl" id="surl" placeholder="请输入短链接" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label>创建时间：</label>
                            <input type="text" class="form-control js-datepicker" data-date-format="yyyy-mm-dd" name="created_at" id="created_at" placeholder="请选择创建时间">
                        </div>

                        <div class="form-group">
                            <!-- 查询按钮 -->
                            <a class="btn btn-primary m-sm" onclick="reloadTable()"><span class="mdi mdi-plus" aria-hidden="true"></span>&nbsp;搜索</a>
                            <!-- 重置表单按钮 -->
                            <a class="btn btn-warning m-sm" onclick="$('#formId')[0].reset()"><span class="mdi mdi-loop" aria-hidden="true"></span>&nbsp;重置</a>
                        </div>
                    </form>
                </div>

                <div class="card-body">

                    <div id="toolbar" class="toolbar-btn-action">
                        <button id="btn_add" type="button" class="btn btn-primary m-r-5">
                            <span class="mdi mdi-plus" aria-hidden="true"></span>新增
                        </button>
                        <button id="btn_enable" type="button" class="btn btn-success m-r-5">
                            <span class="mdi mdi-check" aria-hidden="true"></span>启用
                        </button>
                        <button id="btn_disable" type="button" class="btn btn-warning m-r-5">
                            <span class="mdi mdi-block-helper" aria-hidden="true"></span>禁用
                        </button>
                        <button id="btn_delete" type="button" class="btn btn-danger">
                            <span class="mdi mdi-window-close" aria-hidden="true"></span>删除
                        </button>
                    </div>
                    <table id="tableId"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-multitabs/multitabs.js}"></script>
<script type="text/javascript" th:src="@{/js/coco-message/coco-message.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-table/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.js}"></script>
<!--日期选择插件-->
<script type="text/javascript" th:src="@{/js/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>
<script type="text/javascript" th:src="@{/js/public.js}"></script>

<script type="text/javascript" th:inline="javascript">
    AjaxUtil.ctx = /*[[@{/}]]*/'';

    $(document).ready(function () {

        var options = {
            domId: "tableId",
            toolbar: "toolbar",
            url: AjaxUtil.ctx + "siteclass/list",
            uniqueId: "id",
            // 是否启用排序
            sortable: true,
            // 排序方式
            sortOrder: "asc",
            // 默认排序列
            sortName: "id",
            detailFormatter: detailFormatter,
            queryParamsType: "",
            queryParams: queryParams,
            //数据列
            columns: [{
                field: "checkbox",
                checkbox: true
            }, {
                title: "ID",
                field: "id",
                sortable: true
            }, {
                title: "分类名称",
                field: "title"
            }, {
                title: "创建时间",
                field: "createTime",
                sortable: true
            }, {
                title: "更新时间",
                field: "updateTime",
                sortable: true
            }, {
                title: "操作",
                field: "empty",
                align: "center",
                halign: "center",
                formatter: function (value, row, index) {
                    var operateHtml = '<button class="btn btn-primary btn-xs" type="button" onclick="edit(\'' + row.id + '\')"> <i class="fa fa-edit"></i>&nbsp;修改</button> &nbsp;';
                    operateHtml = operateHtml + '<button class="btn btn-danger btn-xs" type="button" onclick="del(\'' + row.id + '\')"><i class="fa fa-remove"></i>&nbsp;删除</button> &nbsp;';
                    return operateHtml;
                }
            }]
        }

        // 初始化表格
        initTable(options);
    });


    // 分页查询参数，是以键值对的形式设置的
    function queryParams(params) {
        return {
            title: $("#title").val(), // 请求时向服务端传递的参数
            pageSize: params.pageSize, // 每页显示数量
            pageNumber: params.pageNumber, // SQL语句偏移量
            sortName: params.sortName,
            sortOrder: params.sortOrder
        }
    }


    function detailFormatter(index, row) {
        var html = [];
        html.push('<p><b>描述:</b> ' + row.description + '</p>');
        return html.join('');
    }


    // 查询操作
    function reloadTable() {
        $("#tableId").bootstrapTable('refresh');
    }
</script>
</body>
</html>